<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Maintain your Time Table</p>
  <a href="/classes/add" class="btn btn-dark btn-block">Add Classes</a><br>
  <a href="/subjects/add" class="btn btn-dark btn-block">Add Subjects</a><br>
  <a href="/teachers/add" class="btn btn-dark btn-block">Add Teachers</a><br>
</div>