{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<div class="card card-body">
  <h3>Add Subject</h3>
  <form action="/subjects" method="post">
    <div class="form-group">
      <label for="sname">Sname</label>
      <input type="text" class="form-control" name="sname" required>
    </div>
    <div class="form-group">
      <label for="scode">Scode</label>
      <input type="text" class="form-control" name="scode" required>
    </div>
    <div class="form-group">
      <label for="semester">Semester</label>
      <input type="text" class="form-control" name="semester" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>