{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<div class="card card-body">
  <h3>Add Class </h3>
  <form action="/classes" method="post">
    <div class="form-group">
      <label for="class">Class</label>
      <input type="text" class="form-control" name="class" required>
    </div>
    <div class="form-group">
      <label for="year">Year</label>
      <input type="text" class="form-control" name="year" required>
    </div>
    <div class="form-group">
      <label for="branch">Branch</label>
      <input type="text" class="form-control" name="branch" required>
    </div>
    <div class="form-group">
      <label for="batch">Batch</label>
      <input type="text" class="form-control" name="batch" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>